<p>
  Sort topics by:
</p>
<div class="btn-group" role="group" aria-label="Sort topics">
  <button class="btn btn-default" onclick={{action "sort" "label"}}>Name</button>
  <button class="btn btn-default" onclick={{action "sort" "volume"}}>Volume</button>
  <button class="btn btn-default" onclick={{action "sort" "sentimentScore"}}>Sentiment Score</button>
</div>
<hr>
<p>
  Topics sorted by <code>{{sortKey}}</code>
</p>

<ul>
  {{#each sortedTopics as |topic|}}
    <li>
      {{#link-to "topic" topic.id}}
        {{topic.label}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>