<div class="panel-heading">
  <h2>
    {{@topic.label}}

    {{#link-to "application"
      tagName="button"
      class="btn btn-primary btn-sm"
    }}
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    {{/link-to}}
  </h2>
</div>

<div class="panel-body">
  <ul class="list-unstyled">
    <li>Volume: {{@topic.volume}}</li>
    <li>
      Sentiment
      <ul>
        <li>Positive: {{@topic.sentiment.positive}}</li>
        <li>Neutral: {{@topic.sentiment.neutral}}</li>
        <li>Negative: {{@topic.sentiment.negative}}</li>
      </ul>
    </li>
  </ul>
</div>