<h2>{{@topic.label}}</h2>

<ul>
  <li>Volume: {{@topic.volume}}</li>
  <li>
    Sentiment
    <ul>
      <li>Positive: {{@topic.sentiment.positive}}</li>
      <li>Neutral: {{@topic.sentiment.neutral}}</li>
      <li>Negative: {{@topic.sentiment.negative}}</li>
    </ul>
  </li>
</ul>